body {}

h5 {
    margin: 0;
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.header__menu {
    padding: 30px 30px;
    background-color: #fff;
}

.logo_text {
    font-size: 20px;
    margin-left: 9px;
}

.nav-item {
    margin-left: 40px;
}

.nav-item a {
    color: #515862;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
}

.nav-link {}

.search a {
    color: #515862;
    font-size: 14px;
    font-weight: 400;
}

.img__search {
    margin-left: 8px;
}

.header__intro {
    background-size: cover;
    background-position: 0 100%;
    background-image: url(img/intro.png);
    padding-top: 110px;
    padding-bottom: 190px;
    text-align: center;
    color: #fff;
}

.intro__title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 32px;
}

.intro__text {
    margin: 0 auto;
    width: 599px;
    font-size: 14px;
    margin-bottom: 46px;
}

.intro__btn {
    border: 0;
    text-transform: uppercase;
    border-radius: 10px;
    color: #ffebca;
    font-size: 25px;
    font-weight: 500;
    padding: 15px 60px;
    background-color: #f98561;
}

.services {
    background-color: #f4f4f4;
    position: relative;
    padding-top: 50px;
    padding-bottom: 36px;
}

.services__header {
    position: absolute;
    top: -20px;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    background-color: #2190c1;
    padding: 5px 0;
}

.services__item {
    text-align: center;
    font-size: 11px;
    color: #515862;
}

.services__img {
    margin-bottom: 28px;
}

.services__title {
    font-size: 17px;
    margin-bottom: 13px;
}

.portfolio {
    padding-top: 56px;
    padding-bottom: 82px;
    background-color: #2e3e4f;
}

.portfolio__title {
    font-size: 30px;
    color: #f98561;
}

.portfolio__btn {
    background-color: #2190c1;
    border-radius: 7px;
    border: none;
    color: #fff;
    padding: 8px 11px;
}

.portfolio__img {
    margin-bottom: 22px;
    margin-top: 70px;
}


.portfolio__sup{
    font-size: 17px;
    color: #f98561;
}


.portfolio__sub {
    font-size: 11px;
    color: #bcbcbc;
}













